.banner {
    background: url(https://media.houseandgarden.co.uk/photos/6189431f2b3485c018838e19/16:9/w_2580,c_limit/sramountainhousesraoliviermartingambier03x.jpg)
    center center;    
    height: 58vh;
    position: relative;
}

.banner-info {
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner-search {
    display: flex;
    flex-direction: column;
}

.banner-searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important ;
}

.banner-info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
   
}
.banner-info > button:hover {
    background-color: white;
    color: #ff7779;
}

.banner-info > h5 {
    margin-top: 20px;
}